body {
  background-image: url("../images/space.png");
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  overflow: auto;
  color: white; }
  body #title-header {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    text-align: center;
    /*#fight {
            position:relative;
            left:200px;
            top:5px;
            }*/ }
  body .game-container {
    color: white; }
    body .game-container .game-section {
      border-style: solid;
      border-width: 3px;
      border-color: green;
      width: 100%;
      height: 500px;
      display: inline-block; }
      body .game-container .game-section .imgDiv {
        margin: 5px;
        width: 300px;
        height: 300px;
        float: left; }
        body .game-container .game-section .imgDiv .charImg {
          width: 60%;
          height: 60%; }
      body .game-container .game-section .defender-container {
        position: relative;
        bottom: 50px; }
